{% extends 'base.html' %}

{% block title %} Recuperar senha {% endblock %}

{% block content %}
<button id="themeToggle" class="btn btn-secondary position-fixed top-0 end-0 m-3">
    Alternar Tema
</button>
<div class="card p-4 shadow" style="width: 360px;">
    <h3 class="text-center mb-3">Recuperar Senha</h3>

    <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        <br><br>
        <button type="submit" class="btn btn-primary w-100">Enviar link</button>
    </form>

    <div class="text-center mt-3">
        <a href="{% url 'login' %}">Voltar ao login</a>
    </div>
</div>
 <script>
    const html = document.documentElement;
    const toggleBtn = document.getElementById("themeToggle");
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        html.setAttribute("data-bs-theme", savedTheme);
    }

    toggleBtn.addEventListener("click", () => {
        let current = html.getAttribute("data-bs-theme");
        let next = current === "dark" ? "light" : "dark";

        html.setAttribute("data-bs-theme", next);

        // Salva o tema escolhido
        localStorage.setItem("theme", next);
    });
  </script>
{% endblock %}