{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block search %}
    <form class="d-flex w-100" method="get" action="">
        <input class="form-control me-2" type="search" placeholder="pesquisa..." aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
{% endblock %}
{% block content %}
<style>
    .product-card {
        height: 100%;                  /* força todos os cards a ocuparem a mesma altura */
        display: flex;
        flex-direction: column;
        transition: all 0.2s;   
    }
    .product-card img {
        height: 180px;                 /* define um tamanho fixo para todas as imagens */
        width: 100%;
        object-fit: cover;             /* corta sem distorcer */
        border-radius: 8px;
    }
    .product-card .card-body {
        flex-grow: 1;                  /* empurra o botão para baixo */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product-card:hover {
            transform: translateY(-4px);
            box-shadow: 0 6px 16px rgba(0,0,0,0.15);
        }
    .price {
        font-size: 1.4rem;
        font-weight: bold;
        color: #28a745;
    }
    .old-price {
        text-decoration: line-through;
        color: #888;
        font-size: 0.9rem;
    }
    .navbar-brand {
        font-weight: bold;
        color: #ffe600 !important;
    }
    .search-bar input {
        border-radius: 20px;
    }
    a{
        text-decoration: none;
        color: white;
    }
</style>
<!-- <button id="themeToggle" class="btn btn-secondary m-1">
    Alternar Tema
</button> -->
<!-- <div class="d-flex">
    <div id="sidebar" class="bg-dark text-white p-3" 
         style="width:250px; min-height:100vh; position:relative;">
         
        <h4 class="mb-4">Menu</h4>

        
    </div>
</div>   -->
    <!-- Conteúdo principal -->
<div class="d-flex">
    <div class="container my-5">
    {% if promo %}
    <h2 class="mb-4">Ofertas do dia</h2>
    <div class="row g-4">
        {% for roupa_promo in promo %}
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card product-card p-2" >
                    {% if roupa_promo.Img %}
                        <img src="{{ roupa_promo.Img.url }}" class="card-img-top" alt="Produto">
                    {% endif %}
                    <div class="card-body">
                        <h6 class="card-title">{{ roupa_promo.Name }}</h6>
                        <p class="price">R$ {{ roupa_promo.Price_promo }}</p>
                        <p class="old-price">R$ {{ roupa_promo.Price }}</p>
                        <p class="unit">Unidades restantes: {{ roupa_promo.Unit }}</p>
                        <button class="btn btn-primary w-100 mt-2">Comprar</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if page_obj %}
    <h2 class="mb-4">Outros Itens</h2>
    <div class="row g-4">
        {% for produtos in page_obj %}
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card product-card p-2">
                    {% if produtos.Img %}
                        <img src="{{ produtos.Img.url }}" class="card-img-top" alt="Produto">
                    {% endif %}
                    <div class="card-body">
                        <h6 class="card-title">{{ produtos.Name }}</h6>
                        <p class="price">R$ {{ produtos.Price }}</p>
                        <p class="unit">Unidades restantes: {{ produtos.Unit }}</p>
                        <button class="btn btn-primary w-100 mt-2">Comprar</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    </div>
</div>
<!-- pag -->
<nav aria-label="Navegação de páginas"  class="position-fixed bottom-0 start-50 translate-middle-x mb-3">
    <ul class="pagination justify-content-center ">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a style="font-size: small;" class="page-link" href="?page=1" >&laquo;Primeira</a>
            </li>
            <li class="page-item">
                <a style="font-size: small;" class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span style="font-size: small;" class="page-link">&laquo; Primeira</span>
            </li>
            <li class="page-item disabled">
                <span style="font-size: small;" class="page-link">Anterior</span>
            </li>
        {% endif %}

        <!-- Página atual -->
        <li class="page-item active">
            <span style="font-size: small;" class="page-link">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a style="font-size: small;" class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
            </li>

            <li class="page-item">
                <a style="font-size: small;" class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span style="font-size: small;" class="page-link">Próxima</span>
            </li>
            <li class="page-item disabled">
                <span style="font-size: small;" class="page-link">Última &raquo;</span>
            </li>
        {% endif %}

    </ul>
</nav>

{% endblock %}