{% extends 'base.html' %}

{% block title %} Admin {% endblock %}

{% block AddButtom %}
  <a href="/" class="btn btn-secondary mx-1" >Voltar</a>
{% endblock %}
{% block content %}

<style>
  .navbar-brand {
    font-weight: bold;
    color: #ffe600 !important;
  }
</style>

</nav>
<div class="container text-center">
  <div class="row g-4">
    <div class="col-6 col-md-4 col-lg-3">
      <a href="read/clothe/" class="btn btn-primary">Ver roupas</a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a href="read/user/" class="btn btn-primary">Ver usuarios</a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a href="read/category/" class="btn btn-primary">Ver categorias</a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a href="read/img-clothe/" class="btn btn-primary">Ver imagens de roupas</a>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <a href="create/clothe/" class="btn btn-primary">Criar roupa</a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a href="create/user/" class="btn btn-primary">Criar usuario</a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a href="create/category/" class="btn btn-primary">Criar categoria</a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a href="create/img-clothe/" class="btn btn-primary">Criar imagem de roupa</a>
    </div>

  </div>
</div>

{% endblock %}