<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %} Denilson Multimarcas {% endblock %}</title>
</head>
<body>
<div class="alert-container position-fixed top-0 start-0 w-100">
        {% for message in messages %}
            <div class="alert alert-warning text-center mb-0">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% block content %}
{% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script>
  const html = document.documentElement;
  const toggleBtn = document.getElementById("themeToggle");
  const savedTheme = localStorage.getItem("theme");
  if (savedTheme) {
    html.setAttribute("data-bs-theme", savedTheme);
  }

  toggleBtn.addEventListener("click", () => {
    let current = html.getAttribute("data-bs-theme");
    let next = current === "dark" ? "light" : "dark";

    html.setAttribute("data-bs-theme", next);

    // Salva o tema escolhido
    localStorage.setItem("theme", next);
  });
</script>
</body>
</html>